
<!-- <h3>WELCOME TO ICICI BANK</h3> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Side Navigation Bar in HTML CSS JavaScript</title>
   
  </head>
  <body>
    
    <!-- <nav class="navbar"> -->
      <div class="logo_item">
        
        <h3>
          <!-- <i class="fa-solid fa-2x fa-landmark icon"></i> -->
           KERALA PRIVATE BANK </h3>
      
      </div>
    
    <!-- </nav> -->
   
  </body>
</html>