/* You can add global styles to this file, and also import other style files */
body{
    /* background-image: url(https://i.postimg.cc/K8rbSHtd/online-banking-7541520-1280.webp); */
    background-image: url(https://i.postimg.cc/C59CnQrg/pngtree-fresh-bank-card-machine-advertising-background-backgroundblue-backgroundmanmoneyhand-painted.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* margin: 0; */
}